@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));


/* body {
  background-image: url('../../public/ics2.png') !important;
  background-size: center;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: multiply;
  color: white;
} */
